<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta HTTP-EQUIV="Expires" CONTENT="-1">
  <title>Yardi Change Password</title>
  
  <!-- Bootstrap -->
  <link href="../resources/styles/bootstrap.min.css" rel="stylesheet" />
  
</head>
<body>
  <script src="../resources/scripts/jquery-2.2.4.min.js"></script>
  <script src="../resources/scripts/bootstrap.min.js"></script>
  <div class="container">
    <div class="main">
      <form class="form-horizontal" role="form" style="margin-top: 100px;">
        <h4 class="col-sm-offset-3">Change Password</h4>
        <p class="col-sm-offset-1">Your password has expired and must be changed before continuing</p>
        <div class="form-group has-feedback">
          <label for="username" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-3">
            <div class="input-group">
              <!-- using font-awesome -->
              <!--
              -->
              <span class="input-group-addon"><i class="glyphicon glyphicon-user" ></i></span>
              <input type="text" class="form-control" name="username" id="username" required placeholder="User name"/>
            </div>
            <span class="glyphicon glyph_icon form-control-feedback"></span>
          </div>
        </div>          
        <div class="form-group has-feedback">
          <label for="oldPassword" class="col-sm-2 control-label">Old Password</label>
          <div class="col-sm-3">
            <div class="input-group">
              <!-- using font-awesome -->
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="oldPassword" id="oldPassword" 
                     required placeholder="Old Password"/>
            </div>
            <span class="glyphicon glyph_icon form-control-feedback"></span>
          </div>
        </div>          
        <div class="form-group has-feedback">
          <label for="newPassword" class="col-sm-2 control-label">New Password</label>
          <div class="col-sm-3">
            <div class="input-group">
              <!-- using font-awesome -->
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="newPassword" id="newPassword" 
                     required placeholder="New Password"/>
            </div>
            <span class="glyphicon glyph_icon form-control-feedback"></span>
          </div>
        </div>          
        <div class="form-group has-feedback">
          <label for="verifyPassword" class="col-sm-2 control-label">Verify Password</label>
          <div class="col-sm-3">
            <div class="input-group">
              <!-- using font-awesome -->
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="verifyPassword" id="verifyPassword" required 
                     placeholder="Verify Password"/>
            </div>
            <span class="glyphicon glyph_icon form-control-feedback"></span>
            <p></p>
            <button type="button" class="btn btn-success" id="login">Login</button>
          </div>
        </div>          
      </form>
      <div class="col-sm-offset-2" style="color:red;" id="form-feedback"></div>
    </div>
  </div>
<script>
  //var feedback = ${feedback};
  $(function () {
    window.parent.document.title = 'Yardi Change Password';
    $('#login').click(function (e) {
      $('#form-feedback').text('');
      var formValid = true;
      //iterate over all the input controls
      $('input').each(function () {
        var formGroup = $(this).parents('.form-group');
        var glyphIcon = formGroup.find('.glyphicon');
        var obj = $(this);
        
        if (this.checkValidity()) {
          addAndRemoveClasses($(this), '.form-group', '.glyph_icon', 
                              'has-success',  'has-error',
                              'glyphicon-ok', 'glyphicon-remove');
        } else {
          addAndRemoveClasses($(this), '.form-group', '.glyph_icon', 
                              'has-error',        'has-success',
                              'glyphicon-remove', 'glyphicon-ok' );
          formValid = false;
        }
      }); // input each

      var oldPwd = $('[name="oldPassword"]').val();
      var newPwd = $('[name="newPassword"]').val();
      var verifyPwd = $('[name="verifyPassword"]').val();
      
      if (formValid) {
        
        if ($('[name="oldPassword"]').val() === $('[name="newPassword"]').val()) {
          addAndRemoveClasses('[name="oldPassword"]', '.form-group', '.glyphicon', 
                              'has-error', 'has-success', 
                              'glyphicon-remove', 'glyphicon-ok');
          
          addAndRemoveClasses('[name="newPassword"]', '.form-group', '.glyphicon', 
                              'has-error', 'has-success', 
                              'glyphicon-remove', 'glyphicon-ok');
          $('#form-feedback').text('The new pasword is the same as the old password');
          var formValid = false;
        }
      } //form valid
      
      if (formValid) {
        
        if ($('[name="newPassword"]').val() !== $('[name="verifyPassword"]').val()) {
          addAndRemoveClasses('[name="newPassword"]', '.form-group', '.glyphicon', 
                              'has-error', 'has-success', 
                              'glyphicon-remove', 'glyphicon-ok');
          addAndRemoveClasses('[name="verifyPassword"]', '.form-group', '.glyphicon', 
                              'has-error', 'has-success', 
                              'glyphicon-remove', 'glyphicon-ok');
          $('#form-feedback').text('New pasword and verify passwords do not match');
          var formValid = false;
        }
      } //form valid
      
      if (formValid) {
        var userName = $('#username').val();
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var formItems = {
          "userName"       : userName,
          "password"       : oldPassword,
          "newPassword"    : newPassword,
          "msgID"          : '',
          "msgDescription" : '',
          "chgPwd"         : 'true'
        } // formItems =

        var formData = JSON.stringify(formItems);
        $.ajax({
          type:     'POST',
          url:      '../doLogin',
          data:     formData,
          async:    false,
          dataType: "json", 
          success:  function(data) {
            $('#form-feedback').text(data.msgDescription);
            
            if (data.msgID === 'YRD0001') {
              $('input').each(function () {
                addAndRemoveClasses('[name="username"]', '.form-group', '.glyphicon', 
                                    'has-error', 'has-success', 
                                    'glyphicon-remove', 'glyphicon-ok');
                addAndRemoveClasses('name="oldPassword"]', '.form-group', '.glyphicon', 
                                    'has-error', 'has-success', 
                                    'glyphicon-remove', 'glyphicon-ok');
                formValid = false;
              });
            } //YRD0001
          
            if (   data.msgID === 'YRD0005' || data.msgID === 'YRD0006' 
                || data.msgID === 'YRD0007' || data.msgID === 'YRD0008' 
                || data.msgID === 'YRD0009' || data.msgID === 'YRD000A'  ) {
              addAndRemoveClasses('[name="newPassword"]', '.form-group', '.glyphicon', 
                                  'has-error', 'has-success', 
                                  'glyphicon-remove', 'glyphicon-ok');
              formValid = false;
            } //YRD0005

            if (data.msgID === 'YRD000B' || data.msgID === 'YRD000C') {
              $('input').each(function () {
                formValid = false;
                var formGroup = $(this).parents('.form-group');
                var glyphIcon = formGroup.find('.glyph_icon');
                var obj = $(this);
                formGroup.removeClass('has-error');
                formGroup.removeClass('has-success');
                glyphIcon.removeClass('glyphicon-ok');
                glyphIcon.removeClass('glyphicon-remove');
              });
            } //YRD000B
          } //end of function inside ajax
        }); //end of ajax
        
        /**
        $.post('doLogin', 
        {
          formData : JSON.stringify(formItems)
        })
        .done(function(data) {
          $('#form-feedback').text(data.msgDescription);
            
          if (data.msgID === 'YRD0001') {
            $('input').each(function () {
              addAndRemoveClasses('[name="username"]', '.form-group', '.glyphicon', 
                                  'has-error', 'has-success', 
                                  'glyphicon-remove', 'glyphicon-ok');
              addAndRemoveClasses('name="oldPassword"]', '.form-group', '.glyphicon', 
                                  'has-error', 'has-success', 
                                  'glyphicon-remove', 'glyphicon-ok');
              formValid = false;
            });
          } //YRD0001
          
          if (   data.msgID === 'YRD0005' || data.msgID === 'YRD0006' 
              || data.msgID === 'YRD0007' || data.msgID === 'YRD0008' 
              || data.msgID === 'YRD0009' || data.msgID === 'YRD000A'  ) {
            addAndRemoveClasses('[name="newPassword"]', '.form-group', '.glyphicon', 
                                'has-error', 'has-success', 
                                'glyphicon-remove', 'glyphicon-ok');
            formValid = false;
          } //YRD0005

          if (data.msgID === 'YRD000B' || data.msgID === 'YRD000C') {
            $('input').each(function () {
              formValid = false;
              var formGroup = $(this).parents('.form-group');
              var glyphIcon = formGroup.find('.glyph_icon');
              var obj = $(this);
              formGroup.removeClass('has-error');
              formGroup.removeClass('has-success');
              glyphIcon.removeClass('glyphicon-ok');
              glyphIcon.removeClass('glyphicon-remove');
            });
          } //YRD000B
        }); //done
        **/
      } //form valid
      e.preventDefault();
    }); //#login click
  }); //document ready
  
  function addAndRemoveClasses (
    formGroupTarget, parentsTarget, glyphTarget,
    formAddClass,  formRemoveClass, 
    glyphAddClass, glyphRemoveClass) {

    var formGroup = $(formGroupTarget).parents(parentsTarget);
    var glyphIcon = formGroup.find(glyphTarget);  
    formGroup.addClass(formAddClass).removeClass(formRemoveClass);
    glyphIcon.addClass(glyphAddClass).removeClass(glyphRemoveClass);
  }
</script>
</body>
</html>