<!DOCTYPE html>
<html>
<head>
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Expires" CONTENT="-1">
	<meta charset="utf-8">
	<title>Password Reset Helpdesk</title>
  <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../../resources/scripts/jquery-3.4.1.min.js"></script>
  <script src="../../resources/scripts/bootstrap.min.js"></script>
  <style>
    .preserveWhiteSpace {
      white-space: pre;
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
      display: block;
    }
    .dropdown-submenu>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }
    .dropdown-submenu:hover>a:after {
      border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
      float: none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
    .formElementPadLeft {
      padding-left: 5px;
    }
    .white {
      color: white;
    }
    .green {
      color:green;
    }
    .blue {
      color: cornflowerblue;
    }
    .align-center {
      text-align: center;
    }
    .background-red {
      background-color:red;
    }
    tr {
      line-height: 12px;
      min-height: 12px;
      height: 12px;
    }
    .verticalLine {
      border-left: thin solid;
      border-color: darkgrey;
    }
    .not-allowed {
      cursor: not-allowed;
    }
    .pointer {
      cursor: pointer;
    }
    .table-nonfluid {
      width:auto !important;
    }
    #uniqueTokensContainer {
      height: 340.2px;
      overflow-y: scroll;
    }
    .sticky {
      position: sticky;
      top: 0;
      background: white;
    }
    #userGroupsContainer {
      height: 228.2px;
      overflow-y: scroll;
    }
    .error-border {
      border-style: solid;
      border-color: red;
      border-width: medium;
    }
  </style>
  <h4 class="white align-center background-red">
    <noscript>This site requires JavaScript. Ensure that this is enabled on your browser.</noscript>
  </h4>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-bottom">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quick Links<span class="caret"></span>
                </a>
                <ul class="dropdown-menu  multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">User Tables</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li id="UPView"><a href="#">View User Profile</a></li>
                            <li id="UPChange"><a href="#">User Profile Maintenance</a></li>
                            <li id="STView"><a href="#">View Sessions Table</a></li>
                            <li id="STChange"><a href="#">Sessions Table Maintenance</a></li>
                            <li id="UP1View"><a href="#">View Unique Tokens Table</a></li>
                            <li id="UP1Change"><a href="#">Unique Tokens Table Maintenance</a></li>
                            <li id="UGView"><a href="#">View User Groups Table</a></li>
                            <li id="UGChange"><a href="#">User Groups Table Maintenance</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a href="#">Permissions</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li id="PMView"><a href="#">View Permissions Master</a></li>
                            <li id="PMChange"><a href="#">Permissions Master Maintenance</a></li>
                            <li id="GPView"><a href="#">View Group Permissions</a></li>
                            <li id="GPChange"><a href="#">Group Permissions Maintenance</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a href="#">Misc.</a>
                        <ul class="dropdown-menu" style="width: 250px;">
                            <li id="GMView"><a href="#">View Group Master</a></li>
                            <li id="GMChange"><a href="#">Group Master Maintenance</a></li>
                            <li id="PPView"><a href="#">View Password Policy</a></li>
                            <li id="PPChange"><a href="#">Password Policy Maintenance</a></li>
                            <li id="STView"><a href="#">View Sessions Table</a></li>
                            <li id="STChange"><a href="#">Sessions Table Maintenance</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="form-inline pl-2">
            <div class="form-group px-sm-1">
                <label for="username" class="control-label preserveWhiteSpace" style="padding-left: 20px;"><strong>Username </strong></label>
                <input type="search" class="form-control" name="username" id="username" required placeholder="User Name" aria-label="Username">
            </div>
            <div class="px-sm-1">
              <button type="submit" class="btn btn-success" id="findBtn">Find</button>
            </div>
        </form>
        <div id="title-loginID" class="formElementPadLeft preserveWhiteSpace"></div>
        <div id="form-feedback" class="formElementPadLeft" style="color:red;">XXX</div> <!--90 char-->
    </div>
  </nav>
  <div class='d-flex justify-content-sm-between' id="titleSection">
    <div id='sysDate'>xyzzy</div>
    <h1>Reset Password Helpdesk</h1>
    <div></div>
  </div>
  <hr>



  <div id="accountDetailsPanel" style="margin-left: 5px;">


    <div class="w-25" id="temporaryPwd">
      <form id="temporaryPwdForn" style="padding-left: 20px;">
        <div class="form-group px-sm-1">
            <label for="tempPwdInput" class="control-label preserveWhiteSpace"><strong>Temporary password </strong></label>
            <input type="search" class="form-control" name="tempPwdInput" id="tempPwdInput" required placeholder="Temporary password" aria-label="tempPwdInput">
        </div>
        <button type="submit" class="btn btn-success" id="updateBtn">Update</button>
        <button type="button" class="btn btn-danger" id="cancelBtn">Cancel</button>
      </form>
    </div>

    <hr>

    <div class="d-flex flex-row" id="userProfileDetailsAndPwdHistory">
      <div class="w-50" id="userProfileDetails">
        <div>
          <h6><strong>Account Details</strong></h6>
        </div>
        <div class="d-sm-flex" id="pwdPolicy">
          <div>
            <div class="px-sm-1">Active (Y/N)</div>
            <div class="px-sm-1 blue" id="activeYN">Y</div>
          </div>
          <div>
            <div class="px-sm-1">Temporary Password</div>
            <div class="px-sm-1 blue" id="tempPwdYn">Y</div>
          </div>
          <div>
            <div class="px-sm-1">Disabled Date</div>
            <div class="px-sm-1 blue" id="disabledDate">12/22/2024</div>
          </div>
          <div>
            <div class="px-sm-1">Password Expiration Date</div>
            <div class="px-sm-1 blue" id="pwdExpDate">12/22/2024</div>
          </div>
          <div>
            <div class="px-sm-1">Last Login Date</div>
            <div class="px-sm-1 blue" id="lastLoginDate">12/22/2024</div>
         </div>
         <div>
          <div class="px-sm-1">Password Attempts</div>
          <div class="px-sm-1 blue" id="pwdAttempts">3</div>
         </div>
        </div>
      </div>
      <div class="verticalLine"></div>
      <div class="w-50 table-responsive" id="pwdHistorySection" style="margin-left: 5px;">
        <h6><strong>Password Change History</strong></h6>
        <table class="table table-striped mb-sm-0" id="pwdHistoryTable">
          <thead>
            <tr id="tableHeaders">
              <th class="sticky">Date</th>
              <th class="sticky">Count</th>
            </tr>
          </thead>
          <tr>
            <td class="blue" id="pwdChgDate">12/22/2024</td>
            <td class="blue" id="pwdTimesChg">111</td>
          </tr>
          <tr>
            <td class="blue" id="pwdChgDate">12/22/2024</td>
            <td class="blue" id="pwdTimesChg" >222</td>
          </tr>
          <tr>
            <td class="blue" id="pwdChgDate">12/22/2024</td>
            <td class="blue" id="pwdTimesChg">333</td>
          </tr>
          <tr>
        </table>
      </div>
    </div>

  </div>

  


  <div class="modal fade" id="jsCookiesAlert" tabindex="-1" role="dialog" aria-labelledby="jsCookiesAlert" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Notice:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This site requires cookies and JavaScript. Ensure that these are enabled on your browser.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var findButtonDisabled = false;

$(function () {
  /*
  console.log('loginState.html main 0000 ');
  */
  var formItems;
  var d = new Date();
  $('#sysDate').text(d.getFullYear() + ' ' + (d.getMonth() + 1) + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds());
  $('#accountDetailsPanel').toggle();
  configureButtons();

  $('#findBtn').click(function(e) {
    /*
    console.log('loginState.html main 0001 ');
    */
    e.preventDefault();
    $('#username').removeClass('error-border');
    formItems = {
        "action"   : "find",
        "upUserid" : $('#username').val().trim()
    };

    if ($('#username').val()==='') {
      $('#username').addClass('error-border');
      $('#form-feedback').text('User name is required');
    } else {
      doPost(formItems)
        .then(data => {
          buildPage(data),
          findButtonDisabled = true,
          configureButtons(),
          $('#accountDetailsPanel').toggle()
        })
        .catch(error => {
          $('#form-feedback').text(error.msgDescription);
          if (error.msgID === 'YRD0004') {
            buildPage(error),
            findButtonDisabled = true,
            configureButtons(),
            $('#accountDetailsPanel').toggle(),
            $('#updateBtn')   .addClass('not-allowed').removeClass('pointer')    .attr('disabled', true),
            $('#tempPwdInput').addClass('not-allowed').removeClass('pointer')    .attr('disabled', true)
          }
        });
    }
  });

  $('#cancelBtn').click(function(e) {
    e.preventDefault();
    findButtonDisabled = false;
    configureButtons();
    clearScreen();
    $('#accountDetailsPanel').toggle();
  });

  $('#updateBtn').click(function(e) {
    e.preventDefault();
    $('#tempPwdInput').removeClass('error-border');
    formItems = {
        "action"      : "resetPwd",
        "upUserid"    : $('#username').val().trim(),
        "newPassword" : $('#tempPwdInput').val().trim()
    };
    
    if ($('#tempPwdInput').val()==='') {
      $('#tempPwdInput').addClass('error-border');
      $('#form-feedback').text('Temporary password is required');
    } else {
      doPost(formItems)
        .then(
          findButtonDisabled = false,
          configureButtons(),
          clearScreen(),
          $('#accountDetailsPanel').toggle()
        )
        .catch(error => {
          $('#form-feedback').text(error.msgDescription);
        });
    }
  });
});

function doPost(formItems) {
  return new Promise((resolve, reject) => {
    $.ajax({
      type: 'POST',
      url: '../../doPwdReset',
      data: JSON.stringify(formItems),
      dataType: "json"
    })
    .done(ajaxData => {
      if (ajaxData.msgID === 'YRD0000') {
        configureButtons();
        buildPage(ajaxData);
        resolve(ajaxData);  // Resolve on success
      } else {
        reject(ajaxData);  // Reject if condition fails
      }
    })
    .fail((jqXHR, textStatus, errorThrown) => {
      reject({ jqXHR, textStatus, errorThrown });  // Reject on error
    });
  });
}

function buildPage(formItems) {
  buildUserProfileDetails(formItems);
  buildPwdHistory(formItems);
}

function buildUserProfileDetails(formItems) {
  $('#activeYN')         .text(formItems.upActiveYn);
  $('#tempPwdYn')        .text('Y');
  if (formItems.upTempPwd===null) {
    $('#tempPwdYn')        .text('N');
  }
  $('#disabledDate')     .text(formItems.upDisabledDateString);
  $('#pwdExpDate')       .text(formItems.upPwdexpdString);  
  $('#lastLoginDate')    .text(formItems.upLastLoginDateString);
  $('#pwdAttempts')      .text(formItems.upPwdAttempts);
}

function buildPwdHistory(formItems) {
  $('#pwdHistoryTable').html('');
  $('#pwdHistoryTable').append(
      '<thead>'
    + '  <tr id="tableHeaders">'
    + '    <th class="sticky">Date</th>'
    + '    <th class="sticky">Count</th>'
    + '  </tr>'
    + '</thead>'
    + '<tbody>'
  );
  $.each(formItems.pwdHistory, function(key, value) {
    $('#pwdHistoryTable').append(
        '<tr class="blue" id="tableRow"> '
      + '  <td id="pwdChgDate"> ' 
      + value.dateAddedString
      + '  </td> '
      + '  <td id="pwdTimesChg"> '
      + value.dateCount
      + '  </td>'
      + '</tr>'
    );
  });
  $('#pwdHistoryTable').append('</tbody>');
}

function clearScreen() {
  $('#username')         .val('');
  $('#form-feedback')    .text('');
  $('#tempPwdInput')     .val('');
  $('#activeYN')         .text('');
  $('#tempPwdYn')        .text('');
  $('#disabledDate')     .text('');
  $('#pwdExpDate')       .text('');
  $('#lastLoginDate')    .text('');
  $('#pwdAttempts')      .text('');
  $('#pwdHistoryTable')  .html('');
  $('#username')         .removeClass('error-border');
  $('#tempPwdInput')     .removeClass('error-border');
}

function configureButtons() {
   if (findButtonDisabled) {
    $('#username')    .addClass('not-allowed').removeClass('pointer')    .attr('disabled', true);
    $('#findBtn')     .addClass('not-allowed').removeClass('pointer')    .attr('disabled', true);
    $('#tempPwdInput').addClass('pointer')    .removeClass('not-allowed').attr('disabled', false);
    $('#cancelBtn')   .addClass('pointer')    .removeClass('not-allowed').attr('disabled', false);
    $('#updateBtn')   .addClass('pointer')    .removeClass('not-allowed').attr('disabled', false);
  } else {
    $('#username')    .addClass('pointer')    .removeClass('not-allowed').attr('disabled', false);
    $('#findBtn')     .addClass('pointer')    .removeClass('not-allowed').attr('disabled', false);
    $('#tempPwdInput').addClass('not-allowed').removeClass('pointer')    .attr('disabled', true);
    $('#cancelBtn')   .addClass('not-allowed').removeClass('pointer')    .attr('disabled', true);
    $('#updateBtn')   .addClass('not-allowed').removeClass('pointer')    .attr('disabled', true);
  }
}
  </script>

</body>
</html>