<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta HTTP-EQUIV="Expires" CONTENT="-1">
  <title>Yardi Change Password</title>
  <link href="../resources/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../resources/fontawesome-free-5.12.1-web/css/all.min.css" rel="stylesheet" />
  <link href="../resources/fontawesome-free-5.12.1-web/css/font-awesome.min.css" rel="stylesheet" />
  <link href="../resources/fontawesome-free-5.12.1-web/css/brands.min.css" rel="stylesheet" />
  <link href="../resources/fontawesome-free-5.12.1-web/css/solid.min.css" rel="stylesheet" />
	<style>
		.red {
			color: red;
		}
		.green {
			color: lawngreen;
		}
	</style>  
</head>
<body>
  <script defer src="../resources/fontawesome-free-5.12.1-web/js/all.min.js"></script>
  <script defer src="../resources/fontawesome-free-5.12.1-web/js/brands.min.js"></script>
  <script defer src="../resources/fontawesome-free-5.12.1-web/js/solid.min.js"></script>
  <script defer src="../resources/fontawesome-free-5.12.1-web/js/fontawesome.min.js"></script>
  <script src="../resources/scripts/jquery-3.4.1.min.js"></script>
  <script src="../resources/scripts/bootstrap.min.js"></script>
    <div class="container">
        <div class="d-flex flex-column xx-flex-container-column">
            <form>
                <h4 class="col-sm-offset-3">Change Password</h4>
                <p class="col-sm-offset-1">Your password has expired and must be changed before continuing</p>
                <div class="form-group form-inline">
                    <label for="username" class="col-form-label col-sm-1">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fa-user"><i class="fas fa-user fa-sm" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" required class="form-control-sm border" name="username" id="username" placeholder="User name" aria-describedby="fa-user" />
                        <div class="input-group-append1">
                            <span><i class="append-icon" aria-hidden="true"></i></span>
                        </div>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="oldPassword" class="control-label col-sm-1">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fa-lock"><i class="fas fa-lock fa-sm" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control-sm border" name="oldPassword" id="oldPassword" required  placeholder="Old Password" aria-describedby="fa-lock" />
                        <div class="input-group-append1">
                            <span><i class="append-icon" aria-hidden="true"></i></span>
                        </div>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="newPassword" class="control-label col-sm-1">New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fa-lock"><i class="fas fa-lock fa-sm" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control-sm border" name="newPassword" id="newPassword" required placeholder="New Password" aria-describedby="fa-lock"/>
                        <div class="input-group-append1">
                            <span><i class="append-icon" aria-hidden="true"></i></span>
                        </div>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="verifyPassword" class="control-label col-sm-1">Verify Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fa-lock"><i class="fas fa-lock fa-sm" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" class="form-control-sm border" name="verifyPassword" id="verifyPassword" required placeholder="Verify Password" aria-describedby="fa-lock" />
                        <div class="input-group-append1">
                            <span><i class="append-icon" aria-hidden="true"></i></span>
                        </div>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex-row">
                <button type="button" class="btn btn-success login-btn-margin" style="margin-left: 94px;"  id="login">Login</button>
            </div>
            <div class="col-sm-offset-2" style="color:red;  margin-left: 94px;" id="form-feedback">xxx</div>
        </div>
    </div>
<script>
  //var feedback = ${feedback};
  $(function () {
    window.parent.document.title = 'Yardi Change Password';
    $('#login').click(function (e) {
      $('#form-feedback').text('');
      var formValid = true;
      //iterate over all the input controls
      $('input').each(function () {
        var formGroup = $(this).parents('.form-group');
        var glyphIcon = formGroup.find('.glyphicon');
        var obj = $(this);
        
        if (this.checkValidity()) {
					addAndRemoveClasses($(this), '.form-group', '.append-icon',
																			 'is-valid', 'is-invalid', 
                            					 'fa fa-check fa-lg green', 'fa fa-remove fa-lg red');
        } else {
					addAndRemoveClasses($(this), '.form-group', '.append-icon',
																			 'is-invalid', 'is-valid',
                            					 'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
          formValid = false;
        }
      }); // input each

      var oldPwd = $('[name="oldPassword"]').val();
      var newPwd = $('[name="newPassword"]').val();
      var verifyPwd = $('[name="verifyPassword"]').val();
      
      if (formValid) {
        
        if ($('[name="oldPassword"]').val() === $('[name="newPassword"]').val()) {
					addAndRemoveClasses('[name="oldPassword"]', '.form-group', '.append-icon',
															'is-invalid', 'is-valid',
                            	'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');

					addAndRemoveClasses('[name="newPassword"]', '.form-group', '.append-icon',
															'is-invalid', 'is-valid',
                            	'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
          $('#form-feedback').text('The new pasword is the same as the old password');
          var formValid = false;
        }
      } //form valid
      
      if (formValid) {
        
        if ($('[name="newPassword"]').val() !== $('[name="verifyPassword"]').val()) {
					addAndRemoveClasses('[name="newPassword"]', '.form-group', '.append-icon',
															'is-invalid', 'is-valid',
															'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
					addAndRemoveClasses('[name="verifyPassword"]', '.form-group', '.append-icon',
															'is-invalid', 'is-valid',
															'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
          $('#form-feedback').text('New pasword and verify passwords do not match');
          var formValid = false;
        }
      } //form valid
      
      if (formValid) {
        var userName = $('#username').val();
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var formItems = {
          "userName"       : userName,
          "password"       : oldPassword,
          "newPassword"    : newPassword,
          "msgID"          : '',
          "msgDescription" : '',
          "chgPwd"         : 'true'
        } // formItems =

        var formData = JSON.stringify(formItems);
        $.ajax({
          type:     'POST',
          url:      '../doLogin',
          data:     formData,
          async:    false,
          dataType: "json", 
          success:  function(data) {
            $('#form-feedback').text(data.msgDescription);
            
            if (data.msgID === 'YRD0001') {
              $('input').each(function () {
								addAndRemoveClasses('[name="username"]', '.form-group', '.append-icon',
																		'is-invalid', 'is-valid',
																		'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
								addAndRemoveClasses('[name="oldPassword"]', '.form-group', '.append-icon',
																		'is-invalid', 'is-valid',
																		'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
                formValid = false;
              });
            } //YRD0001
          
            if (   data.msgID === 'YRD0005' || data.msgID === 'YRD0006' 
                || data.msgID === 'YRD0007' || data.msgID === 'YRD0008' 
                || data.msgID === 'YRD0009' || data.msgID === 'YRD000A'  ) {
							addAndRemoveClasses('[name="newPassword"]', '.form-group', '.append-icon',
																	'is-invalid', 'is-valid',
																	'fa fa-remove fa-lg red', 'fa fa-check fa-lg green');
              formValid = false;
            } //YRD0005

            if (data.msgID === 'YRD000B' || data.msgID === 'YRD000C') {
              $('input').each(function () {
                formValid = false;
                var formGroup = $(this).parents('.form-group');
                var glyphIcon = formGroup.find('.append-icon');
                var obj = $(this);
								formGroup.removeClass('is-invalid');
								formGroup.removeClass('is-valid');
								glyphIcon.removeClass('fa fa-check fa-lg green');
								glyphIcon.removeClass('fa fa-remove fa-lg red');
              });              
            } //YRD000B
            
            if (data.msgID === 'YRD000E' || data.msgID === 'YRD000') {
              
              if (data.msgID === 'YRD000E') {
                /**
                  if user is a member of multiple groups newPassword contains the list of initial pages for each group they
                  are a member of. This will be used by selectGroup.html to build a list of pages the user uses to decide
                  which initial page to view
                **/
                parent.initialPageList = data.newPassword;
              }
              
              $('html').html(data.msgDescription);
              console.log('nextFrame ' + data.msgDescription);
              parent.frame = data.msgDescription;
              parent.nextFrame();
            }             
          } //end of function inside ajax
        }); //end of ajax
        
      } //form valid
      e.preventDefault();
    }); //#login click
  }); //document ready
  
  function addAndRemoveClasses (
    formGroupTarget, parentsTarget, glyphTarget,
    formAddClass,  formRemoveClass, 
    glyphAddClass, glyphRemoveClass) {

    var formGroup = $(formGroupTarget).parents(parentsTarget);
    var glyphIcon = formGroup.find(glyphTarget);  
    formGroup.removeClass(formRemoveClass).addClass(formAddClass);
    glyphIcon.removeClass(glyphRemoveClass).addClass(glyphAddClass);
  }
</script>
</body>
</html>