<!DOCTYPE html>
<html>
<head>
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta HTTP-EQUIV="Expires" CONTENT="-1">
  <title>User Profile CRUD</title>
  <!-- 
  https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=scrollspy
  https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-affix.php
  https://www.tutorialrepublic.com/css-reference/css-top-property.php
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../resources/styles/bootstrap.min.css" rel="stylesheet" />
  <link href="../resources/css/font-awesome.min.css" rel="stylesheet">
  <script src="../resources/scripts/jquery-2.2.4.min.js"></script>
  <script src="../resources/scripts/Moment/moment.min.js" type="text/javascript"></script>
  <script src="../resources/scripts/DatePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <script src="../resources/scripts/bootstrap.min.js"></script>
  <!--
  <link href="../../../../Boostrap/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../resources/css/font-awesome.min.css" rel="stylesheet">
  <script src="../../../../jQueryLib/scripts/jquery-2.2.4.min.js"></script>
  <script src="../resources/scripts/Moment/moment.min.js" type="text/javascript"></script>
  <script src="../resources/scripts/DatePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <script src="../../../../Boostrap/scripts/bootstrap.min.js"></script>
  -->
<style type="text/css">
/* Custom Styles */
  body{
    padding-top: 70px;
  }
  .userProfileForm {
    margin-left: 0px;
  }
  .formElementPadBottom {
    padding-bottom: 10px;
  }
  .formElementPadLeft {
    padding-left: 5px;
  }
  .formElementPadBottomLeft {
    padding-bottom: 10px;
    padding-left: 5px;
  }
  .roundedCorners {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border-style: solid;
    border-width: 1px;
  }
  .preserveWhiteSpace {
    white-space: pre;
  }
  
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick Links<span class="caret"></span></a>
            <ul class="dropdown-menu  multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">User Tables</a>
                <ul class="dropdown-menu">
                  <li id="UPView"><a href="#">View User Profile</a></li>
                  <li id="UPChange"><a href="#">User Profile Maintenance</a></li>
                  <li id="STView"><a href="#">View Sessions Table</a></li>
                  <li id="STChange"><a href="#">Sessions Table Maintenance</a></li>
                  <li id="UP1View"><a href="#">View Unique Tokens Table</a></li>
                  <li id="UP1Change"><a href="#">Unique Tokens Table Maintenance</a></li>
                  <li id="UGView"><a href="#">View User Groups Table</a></li>
                  <li id="UGChange"><a href="#">User Groups Table Maintenance</a></li>
                </ul>
              </li>
              
              <li class="dropdown-submenu">
                <a href="#">Permissions</a>
                <ul class="dropdown-menu">
                  <li id="PMView"><a href="#">View Permissions Master</a></li>
                  <li id="PMChange"><a href="#">Permissions Master Maintenance</a></li>
                  <li id="GPView"><a href="#">View Group Permissions</a></li>
                  <li id="GPChange"><a href="#">Group Permissions Maintenance</a></li>
                </ul>
              </li>
              
              <li class="dropdown-submenu">
                <a href="#">Misc.</a>
                <ul class="dropdown-menu">
                  <li id="GMView"><a href="#">View Group Master</a></li>
                  <li id="GMChange"><a href="#">Group Master Maintenance</a></li>
                  <li id="PPView"><a href="#">View Password Policy</a></li>
                  <li id="PPChange"><a href="#">Password Policy Maintenance</a></li>
                  <li id="STView"><a href="#">View Sessions Table</a></li>
                  <li id="STChange"><a href="#">Sessions Table Maintenance</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <label for="username" class="control-label">Username</label>
          <div class="form-group">
            <input type="text" class="form-control" name="username" id="username" required placeholder="User Name">
          </div>
          <button type="button" class="btn btn-success" id="findBtn">Find</button>
        </form>
        <div id="title-loginID" class="formElementPadLeft preserveWhiteSpace"></div>
        <div id="form-feedback" class="formElementPadLeft" style="color:red;">XXX</div> <!--90 char-->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    
      <div style="height:700px; overflow-y:scroll;">
        <div id="section1">
          <h2>Contact Info</h2>
          <div class="row userProfileForm">
            <label for="firstName" class="control-label formElementPadBottom" >First name</label>
            <input type="text" class="roundedCorners" name="firstName" id="firstName" required placeholder="First name"/>
            <label for="lastName" class="control-label formElementPadLeft">Last name</label>
            <input type="text" class="roundedCorners" name="lastName" id="lastName" required placeholder="Last name"/>
          </div>
          <div class="row userProfileForm">
            <label for="address1" class="control-label formElementPadBottom">Address 1</label>
            <input type="text" class="roundedCorners" name="address1" id="address1" required placeholder="Address 1"/>
          </div>
          <div class="row userProfileForm">
            <label for="address2" class="control-label formElementPadBottom">Address 2</label>
            <input type="text" class="roundedCorners" name="address2" id="address2" placeholder="Address 2"/>
          </div>
          <div class="row userProfileForm">
            <label for="city" class="control-label formElementPadBottom">City</label>
            <input type="text" class="roundedCorners" name="city" id="city" required placeholder="City"/>
            <label for="state" class="control-label formElementPadBottomLeft">State</label>
            <select name="state" id="state">
              <option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option>
              <option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option>
              <option value="CT">CT</option><option value="DE">DE</option><option value="FL">FL</option>
              <option value="GA">GA</option><option value="HI">HI</option><option value="ID">ID</option>
              <option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option>
              <option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option>
              <option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option>
              <option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option>
              <option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option>
              <option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option>
              <option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option>
              <option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option>
              <option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option>
              <option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option>
              <option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option>
              <option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option>
              <option value="WI">WI</option><option value="WY">WY</option><option value="AS">AS</option>
              <option value="DC">DC</option><option value="FM">FM</option><option value="GU">GU</option>
              <option value="MH">MH</option><option value="MP">MP</option><option value="PW">PW</option>
              <option value="PR">PR</option><option value="VI">VI</option>
            </select>
            <label for="zip" class="control-label formElementPadLeft">Zip</label>
            <input type="text" class="roundedCorners" name="zip" id="zip" required placeholder="Zip" maxlength="5" 
                   style="width: 70px;"/>
            <label for="zip4" class="control-label formElementPadLeft">Zip 4</label>
            <input type="text" class="roundedCorners" name="zip4" id="zip4" placeholder="Zip 4" maxlength="4" style="width: 60px;"/>
          </div>
          <div class="row userProfileForm">
            <label for="phone" class="control-label formElementPadBottom">Phone</label>
            <input type="text" class="roundedCorners" name="phone" id="phone" required placeholder="Phone"/>
          </div>
          <div class="row userProfileForm">
            <label for="fax" class="control-label formElementPadBottom">Fax</label>
            <input type="text" class="roundedCorners" name="fax" id="fax" placeholder="Fax"/>
          </div>
          <div class="row userProfileForm">
            <label for="email" class="control-label formElementPadBottom">Email</label>
            <input type="text" class="roundedCorners" name="email" id="email" placeholder="Email"/>
          </div>
        </div>
        <hr>
		<div id="section2">
          <h2>Misc</h2>
          <div class="row userProfileForm">
            <label for="ssn" class="control-label formElementPadBottom">SSN</label>
            <input type="text" class="roundedCorners" name="ssn" id="ssn" required placeholder="SSN"/>
          </div>
          <div class="row date">
            <label for="dob" class="control-label col-md-1">Birth date</label>
            <div class="col-md-2 formElementPadBottom pull-left">
              <div class="input-group date" id="datePicker" style="left: -58px;">
                <input type="text" class="form-control" name="dob" id="dob" required readonly 
                       placeholder="click here==>"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row userProfileForm">
            <label for="homeMarket" class="control-label formElementPadBottom">Home market</label>
            <input type="text" class="roundedCorners" name="homeMarket" id="homeMarket" required placeholder="Home market"/>
          </div>
        </div>
        <hr>
        <div id="section3">
          <h2>Login</h2>
          <div class="row userProfileForm">
            <label for="activeYN" class="control-label formElementPadBottom">User is active Y/N</label>
            <select name="activeYN" id="activeYN">
              <option value="Y">Y</option><option value="N">N</option>
            </select>
          </div>
          <div class="row date">
            <label for="pwdExpDate" class="control-label col-md-2">Password expiration date</label>
            <div class="col-md-2 formElementBottom pull-left">
              <div class="input-group date formElementBottom" id="datePicker4" style="left: -75px; padding-bottom: 10px;">
                <input type="text" class="form-control" name="pwdExpDate" id="pwdExpDate" required readonly
                       placeholder="click here ==>"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row date">
            <label for="disabledDate" class="control-label col-md-2">Date disabled</label>
            <div class="col-md-2 formElementPadBottom pull-left">
              <div class="input-group date" id="datePicker2" style="left: -160px;">
                <input type="text" class="form-control" name="disabledDate" id="disabledDate" readonly
                       placeholder="click here==>"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
            <div class="col-md-3" style="left: -165px;">
              <label>Time disabled</label>
              <select class="disabledHour" id="disabledHour" name="disabledHour">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
            </select>
              :
              <select class="disabledMin" id="disabledMin" name="disabledMin">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
              <option value="24">24</option><option value="25">25</option><option value="26">26</option>
              <option value="27">27</option><option value="28">28</option><option value="29">29</option>
              <option value="30">30</option><option value="31">31</option><option value="32">32</option>
              <option value="33">33</option><option value="34">34</option><option value="35">35</option>
              <option value="36">36</option><option value="37">37</option><option value="38">38</option>
              <option value="39">39</option><option value="40">40</option><option value="41">41</option>
              <option value="42">42</option><option value="43">43</option><option value="44">44</option>
              <option value="45">45</option><option value="46">46</option><option value="47">47</option>
              <option value="48">48</option><option value="49">49</option><option value="50">50</option>
              <option value="51">51</option><option value="52">52</option><option value="53">53</option>
              <option value="54">54</option><option value="55">55</option><option value="56">56</option>
              <option value="57">57</option><option value="58">58</option><option value="59">59</option>
            </select>
              :
              <select class="disabledSec" id="disabledSec" name="disabledSec">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
              <option value="24">24</option><option value="25">25</option><option value="26">26</option>
              <option value="27">27</option><option value="28">28</option><option value="29">29</option>
              <option value="30">30</option><option value="31">31</option><option value="32">32</option>
              <option value="33">33</option><option value="34">34</option><option value="35">35</option>
              <option value="36">36</option><option value="37">37</option><option value="38">38</option>
              <option value="39">39</option><option value="40">40</option><option value="41">41</option>
              <option value="42">42</option><option value="43">43</option><option value="44">44</option>
              <option value="45">45</option><option value="46">46</option><option value="47">47</option>
              <option value="48">48</option><option value="49">49</option><option value="50">50</option>
              <option value="51">51</option><option value="52">52</option><option value="53">53</option>
              <option value="54">54</option><option value="55">55</option><option value="56">56</option>
              <option value="57">57</option><option value="58">58</option><option value="59">59</option>
            </select>
            </div>
          </div>
          <div class="row userProfileForm">
            <label for="pwdAttempts" class="control-label formElementPadBottom">Password attempts</label>
            <select name="pwdAttempts" id="pwdAttempts">
              <option value="0">0</option><option value="1">1</option><option value="2">2</option>
              <option value="3">3</option><option value="4">4</option><option value="5">5</option>
              <option value="6">6</option><option value="7">7</option><option value="8">8</option>
              <option value="9">9</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
            </select>
          </div>
          <div class="row userProfileForm">
            <label for="password" class="control-label formElementPadBottom" pwdFn>Password</label>
            <input type="text" class="roundedCorners" name="password" id="password" placeholder="Password" pwdFn/>
            <button type="button" class="btn btn-success formElementPadBottomLeft" id="crtToken" pwdFn>Create token</button>
          </div>
          <div class="row userProfileForm">
            <b pwdFn>New token=</b>
            <label id="newToken" class="formElementPadBottom" style="color:green;" pwdFn>
              $31$16$zBv5r6wXaLrlJ1iRF6-j79463_7AFER7LxMWxCzL4uY</label>
          </div>
          <div class="row userProfileForm">
            <label for="currentToken" class="control-label formElementPadBottom">Current token</label>
            <input type="text" class="roundedCorners" name="currentToken" id="currentToken" required placeholder="Current token"  maxlen="50"/>
          </div>
          <div class="row date">
            <label for="lastLogin" class="control-label col-md-1">Last login</label>
            <div class="col-md-2 formElementPadBottom pull-left">
              <div class="input-group date" id="datePicker3" style="left: -57px;">
                <input type="text" class="form-control" name="lastLogin" id="lastLogin" required readonly
                       placeholder="click here==>"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>            
            <div class="col-md-2 formElementPadBottom pull-left" style="left: -65px;">
              <label>Login time</label>
              <select class="loginHour" id="loginHour" name="loginHour">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
            </select>
              :
              <select class="loginMin" id="loginMin" name="loginMin">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
              <option value="24">24</option><option value="25">25</option><option value="26">26</option>
              <option value="27">27</option><option value="28">28</option><option value="29">29</option>
              <option value="30">30</option><option value="31">31</option><option value="32">32</option>
              <option value="33">33</option><option value="34">34</option><option value="35">35</option>
              <option value="36">36</option><option value="37">37</option><option value="38">38</option>
              <option value="39">39</option><option value="40">40</option><option value="41">41</option>
              <option value="42">42</option><option value="43">43</option><option value="44">44</option>
              <option value="45">45</option><option value="46">46</option><option value="47">47</option>
              <option value="48">48</option><option value="49">49</option><option value="50">50</option>
              <option value="51">51</option><option value="52">52</option><option value="53">53</option>
              <option value="54">54</option><option value="55">55</option><option value="56">56</option>
              <option value="57">57</option><option value="58">58</option><option value="59">59</option>
            </select>
              :
              <select class="loginSec" id="loginSec" name="loginSec">
              <option value="00">00</option><option value="01">01</option><option value="02">02</option>
              <option value="03">03</option><option value="04">04</option><option value="05">05</option>
              <option value="06">06</option><option value="07">07</option><option value="08">08</option>
              <option value="09">09</option><option value="10">10</option><option value="11">11</option>
              <option value="12">12</option><option value="13">13</option><option value="14">14</option>
              <option value="15">15</option><option value="16">16</option><option value="17">17</option>
              <option value="18">18</option><option value="19">19</option><option value="20">20</option>
              <option value="21">21</option><option value="22">22</option><option value="23">23</option>
              <option value="24">24</option><option value="25">25</option><option value="26">26</option>
              <option value="27">27</option><option value="28">28</option><option value="29">29</option>
              <option value="30">30</option><option value="31">31</option><option value="32">32</option>
              <option value="33">33</option><option value="34">34</option><option value="35">35</option>
              <option value="36">36</option><option value="37">37</option><option value="38">38</option>
              <option value="39">39</option><option value="40">40</option><option value="41">41</option>
              <option value="42">42</option><option value="43">43</option><option value="44">44</option>
              <option value="45">45</option><option value="46">46</option><option value="47">47</option>
              <option value="48">48</option><option value="49">49</option><option value="50">50</option>
              <option value="51">51</option><option value="52">52</option><option value="53">53</option>
              <option value="54">54</option><option value="55">55</option><option value="56">56</option>
              <option value="57">57</option><option value="58">58</option><option value="59">59</option>
            </select>
            </div>
          </div>
        </div>
      </div>
    
    <p></p><p></p>
    <div class="actionButtons" class="actionButtons">
      <button type="button" class="btn btn-success" id="addButton" style="background-color: darkturquoise;">Add</button>
      <button type="button" class="btn btn-success" id="updateButton" style="background-color: darkturquoise;">Update</button>
      <button type="button" class="btn btn-success" id="deleteButton" style="background-color: darkturquoise;">Delete</button>
      <button type="button" class="btn btn-success" id="cancelButon" style="background-color: red;">Cancel</button>
    </div>
</div> 
<script>
  $(function() {
    var formData;
    var formItems;
    var ajaxData;
    var viewMode = false;
    var findButtonDisabled = false;
    var addUpdateDeleteCancelClick = false;
    configureButtons(false, true, true, true, true, true);
    configureViewMode();
    
    $('#findBtn').click(function() {
      addUpdateDeleteCancelClick = false;
      setFormItems('find', ajaxData);
      setFormData();
      doPost();
    });
    $('#crtToken').click(function () {
      addUpdateDeleteCancelClick = false;
      newToken();
    });
    $('#addButton').click(function () {
      addUpdateDeleteCancelClick = true;
      setFormItems('add', ajaxData);
      setFormData();
      doPost();
      clearScreen();
      configureButtons(false, true, true, true, true, true);
      configureViewMode();
    });
    $('#updateButton').click(function () {
      addUpdateDeleteCancelClick = true;
      setFormItems('update', ajaxData);
      setFormData();
      doPost();
      clearScreen();
      configureButtons(false, true, true, true, true, true);
      configureViewMode();
    });
    $('#deleteButton').click(function () {
      addUpdateDeleteCancelClick = true;
      setFormItems('delete', ajaxData);
      setFormData();
      doPost();
      clearScreen();
      configureButtons(false, true, true, true, true, true);
      configureViewMode();
    });
    $('#cancelButon').click(function () {
      addUpdateDeleteCancelClick = true;
      clearScreen();
      configureButtons(false, true, true, true, true, true);
      configureViewMode();
    });
    $('#datePicker').datetimepicker({
      format: "MM/DD/YYYY",
      ignoreReadonly: true,
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up:   "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
    $('#datePicker2').datetimepicker({
      format: "MM/DD/YYYY",
      ignoreReadonly: true,
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up:   "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
    $('#datePicker3').datetimepicker({
      format: "MM/DD/YYYY",
      ignoreReadonly: true,
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up:   "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
    $('#datePicker4').datetimepicker({
      format: "MM/DD/YYYY",
      ignoreReadonly: true,
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up:   "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    }); 
    $('.navbar-brand').click(function() {
      newFrame('views/QSECOFR_Main.html');
    }); 
    $('#UPView').click(function() {
      newFrame('views/userProfile_CRUD.html?mode=view');
    });
    $('#UPChange').click(function() {
      newFrame('views/userProfile_CRUD.html');
    });
    $('#STView').click(function() {
      newFrame('views/sessions_CRUD.html?mode=view');
    });
    $('#STChange').click(function() {
      newFrame('views/sessions_CRUD.html');
    });
    $('#UP1View').click(function() {
      newFrame('views/uniqueTokens_CRUD.html?mode=view');
    });
    $('#UP1Change').click(function() {
      newFrame('views/uniqueTokens_CRUD.html');
    });
    $('#UGView').click(function() {
      newFrame('views/userGroups_CRUD.html?mode=view');
    });
    $('#UGChange').click(function() {
      newFrame('views/userGroups_CRUD.html');
    });
    $('#PMView').click(function() {
      newFrame('views/permissionsMaster_CRUD.html?mode=view');
    });
    $('#PMChange').click(function() {
      newFrame('views/permissionsMaster_CRUD.html');
    });
    $('#GPView').click(function() {
      newFrame('views/groupPermissions_CRUD.html?mode=view');
    });
    $('#GPChange').click(function() {
      newFrame('views/groupPermissions_CRUD.html');
    });
    $('#GMView').click(function() {
      newFrame('views/groupMaster_CRUD.html?mode=view');
    });
    $('#GMChange').click(function() {
      newFrame('views/groupMaster_CRUD.html');
    });
    $('#PPView').click(function() {
      newFrame('views/passwordPolicy_CRUD.html?mode=view');
    });
    $('#PPChange').click(function() {
      newFrame('views/passwordPolicy_CRUD.html');
    });

  function getAllUrlParams(url) {
    //see: https://www.sitepoint.com/get-url-parameters-with-javascript/
    // get query string from url (optional) or window
    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

    // we'll store the parameters here
    var obj = {};

    // if query string exists
    if (queryString) {

      // stuff after # is not part of query string, so get rid of it
      queryString = queryString.split('#')[0];

      // split our query string into its component parts
      var arr = queryString.split('&');

      for (var i=0; i<arr.length; i++) {
        // separate the keys and the values
        var a = arr[i].split('=');

        // in case params look like: list[]=thing1&list[]=thing2
        var paramNum = undefined;
        var paramName = a[0].replace(/\[\d*\]/, function(v) {
          paramNum = v.slice(1,-1);
          return '';
        });

        // set parameter value (use 'true' if empty)
        var paramValue = typeof(a[1])==='undefined' ? true : a[1];

        // (optional) keep case consistent
        paramName = paramName.toLowerCase();
        paramValue = paramValue.toLowerCase();

        // if parameter name already exists
        if (obj[paramName]) {
          // convert value to array (if still string)
          if (typeof obj[paramName] === 'string') {
            obj[paramName] = [obj[paramName]];
          }
          // if no array index number specified...
          if (typeof paramNum === 'undefined') {
            // put the value on the end of the array
            obj[paramName].push(paramValue);
          }
          // if array index number specified...
          else {
            // put the value at that index number
            obj[paramName][paramNum] = paramValue;
          }
        }
        // if param name doesn't exist yet, set it
        else {
          obj[paramName] = paramValue;
        }
      }
    }

    return obj;
  }

  function configureButtons(findBtn, crtTokenBtn, addBtn, updateBtn, deleteBtn, cancelBtn) {
    
      if (findBtn) {
        $('#findBtn')   .attr('disabled', true);
        $('#username')  .attr("disabled", true);
        findButtonDisabled = true;
      } else {
        $('#findBtn')   .attr('disabled', false);
        $('#username')  .attr("disabled", false);    
        findButtonDisabled = false;
      }                   
                          
      $('#crtToken')    .attr("disabled", crtTokenBtn);
      $('#addButton')   .attr("disabled", addBtn);
      $('#updateButton').attr("disabled", updateBtn);
      $('#deleteButton').attr("disabled", deleteBtn);
      $('#cancelButon') .attr("disabled", cancelBtn);
  }

  function configureViewMode() {
    $('#newToken').css("color", "green");
    $('#title-loginID').text('User Profile Maintenance   ' + parent.userName);
    
    /**
      Protect input fields when:
        1. Its view mode 
        2. Its not view mode and the find button is enabled
    **/
    if (getAllUrlParams().mode === 'view') {
      viewMode = true;
      $('#title-loginID').text('User Profile Maintenance   VIEW MODE    ' + parent.userName);
      $('[pwdFn]').css("display", "none"); //hide password functions in view mode
      //disable the rest of the input fields
      $("#firstName")    .attr("disabled", true);
      $("#lastName")     .attr("disabled", true);
      $("#address1")     .attr("disabled", true);
      $("#address2")     .attr("disabled", true);
      $("#city")         .attr("disabled", true);
      $("#state")        .attr("disabled", true);
      $("#zip")          .attr("disabled", true);
      $("#zip4")         .attr("disabled", true);
      $("#phone")        .attr("disabled", true);
      $("#fax")          .attr("disabled", true);
      $("#email")        .attr("disabled", true);
      $("#ssn")          .attr("disabled", true);
      $("#dob")          .attr("disabled", true);
      $("#homeMarket")   .attr("disabled", true);
      $("#activeYN")     .attr("disabled", true);
      $("#pwdExpDate")   .attr("disabled", true);
      $("#disabledDate") .attr("disabled", true);
      $('#disabledHour') .attr("disabled", true);
      $('#disabledMin')  .attr("disabled", true);
      $('#disabledSec')  .attr("disabled", true);
      $("#pwdAttempts")  .attr("disabled", true);
      $('#password')     .attr("disabled", true); 
      $("#currentToken") .attr("disabled", true);
      $("#lastLogin")    .attr("disabled", true);
      $('#loginHour')    .attr("disabled", true);
      $('#loginMin')     .attr("disabled", true);
      $('#loginSec')     .attr("disabled", true);
      console.log('view mode');
    }
    
    /**
      Protect input fields when:
        1. Its view mode 
        2. Its not view mode and the find button is enabled
    **/
    if ((!viewMode) && (findButtonDisabled == false)) {
      //disable the rest of the input fields
      $("#firstName")    .attr("disabled", true);
      $("#lastName")     .attr("disabled", true);
      $("#address1")     .attr("disabled", true);
      $("#address2")     .attr("disabled", true);
      $("#city")         .attr("disabled", true);
      $("#state")        .attr("disabled", true);
      $("#zip")          .attr("disabled", true);
      $("#zip4")         .attr("disabled", true);
      $("#phone")        .attr("disabled", true);
      $("#fax")          .attr("disabled", true);
      $("#email")        .attr("disabled", true);
      $("#ssn")          .attr("disabled", true);
      $("#dob")          .attr("disabled", true);
      $("#homeMarket")   .attr("disabled", true);
      $("#activeYN")     .attr("disabled", true);
      $("#pwdExpDate")   .attr("disabled", true);
      $("#disabledDate") .attr("disabled", true);
      $('#disabledHour') .attr("disabled", true);
      $('#disabledMin')  .attr("disabled", true);
      $('#disabledSec')  .attr("disabled", true);
      $("#pwdAttempts")  .attr("disabled", true);
      $('#password')     .attr("disabled", true); 
      $("#currentToken") .attr("disabled", true);
      $("#lastLogin")    .attr("disabled", true);
      $('#loginHour')    .attr("disabled", true);
      $('#loginMin')     .attr("disabled", true);
      $('#loginSec')     .attr("disabled", true);
    }
    
    /*
     * If its not view mode and the find button is disabled then remove the disabled attribute from the 
     * input elements (enable the input elements). 
     */
    if ((viewMode == false) && (findButtonDisabled)) {
      //disable the rest of the input fields
      $("#firstName")    .attr("disabled", false);
      $("#lastName")     .attr("disabled", false);
      $("#address1")     .attr("disabled", false);
      $("#address2")     .attr("disabled", false);
      $("#city")         .attr("disabled", false);
      $("#state")        .attr("disabled", false);
      $("#zip")          .attr("disabled", false);
      $("#zip4")         .attr("disabled", false);
      $("#phone")        .attr("disabled", false);
      $("#fax")          .attr("disabled", false);
      $("#email")        .attr("disabled", false);
      $("#ssn")          .attr("disabled", false);
      $("#dob")          .attr("disabled", false);
      $("#homeMarket")   .attr("disabled", false);
      $("#activeYN")     .attr("disabled", false);
      $("#pwdExpDate")   .attr("disabled", false);
      $("#disabledDate") .attr("disabled", false);
      $('#disabledHour') .attr("disabled", false);
      $('#disabledMin')  .attr("disabled", false);
      $('#disabledSec')  .attr("disabled", false);
      $("#pwdAttempts")  .attr("disabled", false);
      $('#password')     .attr("disabled", false); 
      $("#currentToken") .attr("disabled", false);
      $("#lastLogin")    .attr("disabled", false);
      $('#loginHour')    .attr("disabled", false);
      $('#loginMin')     .attr("disabled", false);
      $('#loginSec')     .attr("disabled", false);
    }
  }
  
  function setFormItems(action, data) {
    if (
           action === 'find'
        || action === 'add'
        || action === 'update'
        || action === 'delete'
       ) {
      formItems = {
        /*
         * To simplify the logic just use the the current screen values as is to construct formItems. For find and delete 
         * operations we will send the server more than it needs and also send garbage left from the previous search. We
         * just need a user name for find and delete. The server will take care of clearing the uneeded values from the 
         * request object for find and delete.
         */
        "action"         : action,
        "findUser"       : $('#username')     .val(),
        "msgID"          : '',                      
        "msgDescription" : '',                       
        "firstName"      : $("#firstName")    .val(),
        "lastName"       : $("#lastName")     .val(),
        "address1"       : $("#address1")     .val(),
        "address2"       : $("#address2")     .val(),
        "city"           : $("#city")         .val(),
        "state"          : $('#state')        .val(),
        "zip"            : $("#zip")          .val(),
        "zip4"           : $("#zip4")         .val(),
        "phone"          : $("#phone")        .val(),
        "fax"            : $("#fax")          .val(),
        "email"          : $("#email")        .val(),
        "ssn"            : $("#ssn")          .val(),
        "dob"            : $("#dob")          .val(),
        "homeMarket"     : $("#homeMarket")   .val(),
        "activeYN"       : $('#activeYN')     .val(),
        "pwdExpDate"     : $("#pwdExpDate")   .val(),
        "disabledDate"   : $("#disabledDate") .val(),
        "disabledTime"   : $('#disabledHour') .val()
                         + ':'                
                         + $('#disabledMin')  .val()
                         + ':'                   
                         + $('#disabledSec')  .val(),
        "pwdAttempts"    : $('#pwdAttempts')  .val(),
        "currentToken"   : $("#currentToken") .val(),
        "lastLogin"      : $("#lastLogin")    .val(),
        "lastLoginTime"  : $('#loginHour')    .val()
                         + ':'                    
                         + $('#loginMin')     .val()
                         + ':'                 
                         + $('#loginSec')     .val()
      }
    }

    if (action === 'ajaxSuccess') {
      formItems = {
        "action"         : action,
        "msgID"          : data.msgID,
        "msgDescription" : data.msgDescription,
        "firstName"      : data.firstName,
        "lastName"       : data.lastName,
        "address1"       : data.address1,
        "address2"       : data.address2,
        "city"           : data.city,
        "state"          : data.state,
        "zip"            : data.zip,
        "zip4"           : data.zip4,
        "phone"          : data.phone,
        "fax"            : data.fax,
        "email"          : data.email,
        "ssn"            : data.ssn,
        "dob"            : data.dob,
        "homeMarket"     : data.homeMarket,
        "activeYN"       : data.activeYN,
        "pwdExpDate"     : data.pwdExpDate,
        "disabledDate"   : data.disabledDate,
        "disabledTime"   : data.disabledTime,
        "pwdAttempts"    : data.pwdAttempts,
        "currentToken"   : data.currentToken,
        "lastLogin"      : data.lastLogin,
        "lastLoginTime"  : data.lastLoginTime
      }
    }
  }
  
  function newToken() {
    /*convert password to a token*/
    var tokenRequest = {
      "msgID"          : '',
      "msgDescription" : '',
      "password"       : $("#password").val()
    }
    var tokenRequestJSON = JSON.stringify(tokenRequest);
    
    $.ajax({
      type:     'POST',
      url:      '../newToken',
      data:     tokenRequestJSON,
      async:    false,
      dataType: "json", 
      success:  function (data) {
                  $('#newToken').text(data.password);
                }
    });
  }
  
  function setFormData() {
     formData = JSON.stringify(formItems);
  }
  
  function doPost() {
    $.ajax({
      type:     'POST',
      url:      '../editUserProfile',
      data:     formData,
      dataType: "json", 
      success:  function (ajaxData) {
        ajaxSuccess(ajaxData);
      } 
    });
  }
  
  function ajaxSuccess(data) {
    setFormItems('ajaxSuccess', data);
    /* 
      determine which function buttons (add/delete/update) should be enabled/disabled based on feedback from ajax 
            
        findBtn,     
        crtTokenBtn, 
        addBtn,      
        updateBtn,   
        deleteBtn,   
        cancelBtn    
                
                
        USE       = F
        DISABLE   = T
        FOUND     = YRD0000
        NOT FOUND = YRD000D      
    */

    if (addUpdateDeleteCancelClick == false) {
      /*
       * If the add, update, cancel, or delete button was not clicked then the configuation of the input elements on the screen 
       * and the configureation of the add, update, cancel and delete buttons depend on whether its view mode and the feedback
       * from the server
       *
       * If the add, cancel, update or delete button was clicked then the configruation of the input elements on the screen
       * and the configureation of the add, update, cancel and delete buttons depend on the click event.
       * 
       * Since the ajax call happens asynchronously, the click events for the add, cancel, update or delete button happen before
       * the ajax success event. Without knowing whether there was also a click event, this logic will undo the changes that 
       * were just made in the click event. 
       */
        
      if (formItems.msgID === 'YRD0000' && viewMode==false) {
        configureButtons(true, false, true,  false, false, false);
      }
      
      if (formItems.msgID === 'YRD000D' && viewMode==false) {
        configureButtons(true, false, false, true,  true,  false);
      }
          
      if (formItems.msgID === 'YRD0000' && viewMode) {
        configureButtons(false, true, true, true, true, true);
      }
      
      if (formItems.msgID === 'YRD000D' && viewMode) {
        configureButtons(false, true, true, true, true, true);
      }    
        
      configureViewMode();
      buildPage();
    }
  }
  
  function buildPage() {
    $('#form-feedback').text(formItems.msgDescription);

    if (formItems.msgID === 'YRD0000') {
      
      if (formItems.disabledTime === '') {
        /* 
         * In the event that the profile is not disabled, the disabled date is null. The server sets disabledDate and the 
         * disabledTime to '' so set #disabledHour, #disabledMin and #disabledSec to '00'. 
         */
        $("#disabledHour").val('00');
        $("#disabledMin") .val('00');
        $("#disabledSec") .val('00');
      } else {                    
        /* 
         * In the event that the profile is disabled, the server sets disabledDate to the date on which the profile was
         * disabled. The server sets disabledTime to the time when the profile was disabled. disabledTime has the format
         * HH:MM:SS.mils. mils are ignored. Obtain the hour and minute and second by splitting disabledTime on '.' and taking 
         * the hour, minute and second from element 0 of the resulting array. Set disabled hour, minute and second by splitting
         * element 0 (from splitting disabledTime on '.') on ':' and taking element 0, 1 and 2 of the resulting array,
         * respectivly. 
         */
        disabledHMSmils    = formItems.disabledTime.split('.');
        disabledHMS        = disabledHMSmils[0]    .split(':');
        $("#disabledHour").val(disabledHMS[0]);
        $("#disabledMin") .val(disabledHMS[1]);
        $("#disabledSec") .val(disabledHMS[2]);
      }                     
                           
      $('#form-feedback') .text('');
      $("#firstName")     .val(formItems.firstName);
      $("#lastName")      .val(formItems.lastName);
      $("#address1")      .val(formItems.address1);
      $("#address2")      .val(formItems.address2);
      $("#city")          .val(formItems.city);
      $("#state")         .val(formItems.state);
      $("#zip")           .val(formItems.zip);
      $("#zip4")          .val(formItems.zip4);
      $("#phone")         .val(formItems.phone);
      $("#fax")           .val(formItems.fax);
      $("#email")         .val(formItems.email);
      $("#ssn")           .val(formItems.ssn);
      $("#dob")           .val(formItems.dob);
      $("#homeMarket")    .val(formItems.homeMarket);
      $("#activeYN")      .val(formItems.activeYN);
      $("#pwdExpDate")    .val(formItems.pwdExpDate);
      $("#disabledDate")  .val(formItems.disabledDate);
      $("#pwdAttempts")   .val(formItems.pwdAttempts);
      $("#currentToken")  .val(formItems.currentToken);
      $("#lastLogin")     .val(formItems.lastLogin);
      loginHMSmils         = formItems.lastLoginTime.split('.');
      loginHMS             = loginHMSmils[0]        .split(':');
      $("#loginHour")     .val(loginHMS[0]);
      $("#loginMin")      .val(loginHMS[1]);
      $("#loginSec")      .val(loginHMS[2]);
    }
  }
  
  function clearScreen() {
      $('#form-feedback').text('');
      $('#username')     .val('');
      $("#firstName")    .val('');
      $("#lastName")     .val('');
      $("#address1")     .val('');
      $("#address2")     .val('');
      $("#city")         .val('');
      $("#state")        .val('');
      $("#zip")          .val('');
      $("#zip4")         .val('');
      $("#phone")        .val('');
      $("#fax")          .val('');
      $("#email")        .val('');
      $("#ssn")          .val('');
      $("#dob")          .val('');
      $("#homeMarket")   .val('');
      $("#activeYN")     .val('Y');
      $("#pwdExpDate")   .val('');
      $("#disabledDate") .val('');
      $('#disabledHour') .val('00');
      $('#disabledMin')  .val('00');
      $('#disabledSec')  .val('00');
      $("#pwdAttempts")  .val('0');
      $('#password')     .val(''); 
      $("#currentToken") .val('');
      $("#lastLogin")    .val('');
      $('#loginHour')    .val('00');
      $('#loginMin')     .val('00');
      $('#loginSec')     .val('00');
  }
  
  function newFrame(newFrame) {
    $('html').html(newFrame);
    console.log(' nextFrame=' + newFrame);
    parent.frame = newFrame;
    parent.nextFrame();
  }
  });
</script>
</body>
</html>